@import "tailwindcss";



.inner {
    background-color: #80808056;
    backdrop-filter: blur(1.5px);  

}

* {
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    touch-action: manipulation;
}